body{
    background-color: #333;
  }
  .watch{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;align-items: center;
  }
  .stopwatch {
    font-family: Arial, sans-serif;
    font-size: 48px;
    text-align: center;
    display: flex;
    justify-content: center;align-items: center;
    width: 40%;
  height: 50vh;
  border: 1px solid rgb(93, 239, 255);
  border-radius: 50%;
  
  }
  
  #minutes, #seconds, #milliseconds {
    display: inline-block;
    padding: 10px;
    background-color: white;
    color: rgb(247, 9, 9);
    border-radius: 10px;
    margin: 10px;
    border-radius: 50%;
  }
  
  button {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1ef;
    color: #3b3333;
    cursor: pointer;
 
}

button:hover {
  background-color: #3e8e41;
}
  